In [39]:
import sys
import pandas as pd
import sklearn
import tensorflow as tf

print('Python: {}'.format(sys.version))
print('Pandas: {}'.format(pd.__version__))
print('Sci-Kit Learn: {}'.format(sklearn.__version__))
print('Keras: {}'.format(keras.__version__))

Python: 3.8.0 (v3.8.0:fa919fdf25, Oct 14 2019, 10:23:27)
[Clang 6.0 (clang-600.0.57)]
Pandas: 1.1.5
Sci-Kit Learn: 0.23.2
Keras: 2.4.0

In [76]:
f = 'data/autism-child-data.txt'

data = pd.read_table(f,sep=",",index_col=None)

In [77]:
# print shape of dataframe
print("Data Shape: {}".format(data.shape))
print(data.loc[0])

Data Shape: (292, 21)
A1_Score                      1
A2_Score                      1
A3_Score                      0
A4_Score                      0
A5_Score                      1
A6_Score                      1
A7_Score                      0
A8_Score                      1
A9_Score                      0
A10_Score                     0
age                           6
gender                        m
ethnicity                Others
jundice                      no
austim                       no
contry_of_res            Jordan
used_app_before              no
result                        5
age_desc           '4-11 years'
relation                 Parent
Class/ASD                    NO
Name: 0, dtype: object

# This is small dataset, so we may only be able to achieve a certain level of accuracy from the get-go. Let's look at the data some more...

In [78]:
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES

In [79]:
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [80]:
data.dtypes

A1_Score            int64
A2_Score            int64
A3_Score            int64
A4_Score            int64
A5_Score            int64
A6_Score            int64
A7_Score            int64
A8_Score            int64
A9_Score            int64
A10_Score           int64
age                object
gender             object
ethnicity          object
jundice            object
austim             object
contry_of_res      object
used_app_before    object
result              int64
age_desc           object
relation           object
Class/ASD          object
dtype: object

# We have some missing values in here (age is listed as an object), so we'll need to go through this data and pre-process it. 

# We also have some redundant features here (age_description gives us no additional information about age), so we're going to drop some of these columns before passing it into our machine-learning model

In [81]:
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES

# We're going to drop, age_description, results (which is a weighted average of their responses as a score). We're going to use our ML network decide that and we don't want to bias the network...

In [82]:
data = data.drop(['result','age_desc'], axis=1)

In [83]:
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent,NO
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?,NO
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?,NO
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent,YES
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?,NO
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent,YES
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent,YES
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent,YES
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?,NO
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self,YES

# Next we'll split this dataset into training features and a target feature, with te X_trains being all there A scores, and the y-target (prediction) being Class/ASD

In [84]:
x = data.drop(['Class/ASD'], axis=1)
y = data['Class/ASD']

In [85]:
x.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self

# Next, we need to change these categorical features into something a machine learning model can understand. We can do that with one-hot notation

In [86]:
# This will convert all our categorical features into 1-0 notation.
X = pd.get_dummies(x)

In [87]:
X.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,contry_of_res_Syria,contry_of_res_Turkey,used_app_before_no,used_app_before_yes,relation_'Health care professional',relation_?,relation_Parent,relation_Relative,relation_Self,relation_self
0,1,1,0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,1,0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,1,0,0,0,1,1,1,0,0,...,0,0,0,1,0,1,0,0,0,0
3,0,1,0,0,1,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
5,0,0,1,0,1,1,0,1,0,1,...,0,0,1,0,0,1,0,0,0,0
6,1,0,1,1,1,1,0,1,0,1,...,0,0,1,0,0,0,1,0,0,0
7,1,1,1,1,1,1,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
8,1,1,1,1,1,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9,0,0,1,1,1,0,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0
10,1,0,0,0,1,1,1,1,1,1,...,0,0,1,0,0,0,0,0,1,0

In [88]:
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'austim_no', 'austim_yes', "contry_of_res_'Costa Rica'",
       "contry_of_res_'Isle of Man'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'South Africa'",
       "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [89]:
# convert the categorical responses for the Y-values too
Y = pd.get_dummies(y)

In [90]:
Y.loc[:10]

    NO  YES
0    1    0
1    1    0
2    1    0
3    1    0
4    0    1
5    1    0
6    0    1
7    0    1
8    0    1
9    1    0
10   0    1

# Now that all our vectors are one-hot encoded, we're ready to split the data set into training and test sets. We'll do this train-test split using SciKit Learn.

In [91]:
from sklearn import model_selection

In [92]:
# We'll split the train-test sets 80%-20%, which is standard
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, test_size=0.2)

In [93]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

# Now let's build the neural network, we'll make a builder function to do this...

In [94]:
from tensorflow.keras import Input, Sequential
from tensorflow.keras.layers import Dense, LeakyReLU
from tensorflow.keras.optimizers import Adam

In [110]:
def build_ANN(train_data, target_data):
    model = Sequential()
    model.add(Input(shape=train_data.shape[1]))
    model.add(Dense(8, kernel_initializer='normal', activation=LeakyReLU(alpha=0.2)))
    model.add(Dense(4, kernel_initializer='normal', activation=LeakyReLU(alpha=0.2)))
    model.add(Dense(target_data.shape[1], activation='sigmoid')) # sigmoid for binary classification
    
    optim = Adam(lr=0.001)
    model.compile(loss="binary_crossentropy", optimizer=optim, metrics=['accuracy'])
    return model

In [111]:
model = build_ANN(X_train, Y_train)
model.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 8)                 776
_________________________________________________________________
dense_31 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_32 (Dense)             (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________

# Now that we've built the model, let's train it on the data...

In [112]:
model.fit(X_train, Y_train, epochs = 100, batch_size=10, verbose=1)

Epoch 1/100
24/24 [==============================] - 0s 792us/step - loss: 0.6932 - accuracy: 0.4764
Epoch 2/100
24/24 [==============================] - 0s 690us/step - loss: 0.6897 - accuracy: 0.6695
Epoch 3/100
24/24 [==============================] - 0s 694us/step - loss: 0.6820 - accuracy: 0.6481
Epoch 4/100
24/24 [==============================] - 0s 662us/step - loss: 0.6676 - accuracy: 0.5923
Epoch 5/100
24/24 [==============================] - 0s 703us/step - loss: 0.6445 - accuracy: 0.6652
Epoch 6/100
24/24 [==============================] - 0s 704us/step - loss: 0.6196 - accuracy: 0.6609
Epoch 7/100
24/24 [==============================] - 0s 732us/step - loss: 0.5901 - accuracy: 0.7897
Epoch 8/100
24/24 [==============================] - 0s 879us/step - loss: 0.5616 - accuracy: 0.8155
Epoch 9/100
24/24 [==============================] - 0s 928us/step - loss: 0.5332 - accuracy: 0.8069
Epoch 10/100
24/24 [==============================] - 0s 906us/step - loss: 0.5052 - accuracy: 0.8369
Epoch 11/100
24/24 [==============================] - 0s 885us/step - loss: 0.4778 - accuracy: 0.8584
Epoch 12/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4514 - accuracy: 0.8841
Epoch 13/100
24/24 [==============================] - 0s 958us/step - loss: 0.4289 - accuracy: 0.8670
Epoch 14/100
24/24 [==============================] - 0s 971us/step - loss: 0.4003 - accuracy: 0.9056
Epoch 15/100
24/24 [==============================] - 0s 1ms/step - loss: 0.3780 - accuracy: 0.9099
Epoch 16/100
24/24 [==============================] - 0s 925us/step - loss: 0.3552 - accuracy: 0.9185
Epoch 17/100
24/24 [==============================] - 0s 954us/step - loss: 0.3319 - accuracy: 0.9442
Epoch 18/100
24/24 [==============================] - 0s 1ms/step - loss: 0.3124 - accuracy: 0.9528
Epoch 19/100
24/24 [==============================] - 0s 948us/step - loss: 0.2929 - accuracy: 0.9742
Epoch 20/100
24/24 [==============================] - 0s 980us/step - loss: 0.2765 - accuracy: 0.9700
Epoch 21/100
24/24 [==============================] - 0s 942us/step - loss: 0.2601 - accuracy: 0.9828
Epoch 22/100
24/24 [==============================] - 0s 1ms/step - loss: 0.2465 - accuracy: 0.9785
Epoch 23/100
24/24 [==============================] - 0s 999us/step - loss: 0.2332 - accuracy: 0.9914
Epoch 24/100
24/24 [==============================] - 0s 1ms/step - loss: 0.2203 - accuracy: 0.9914
Epoch 25/100
24/24 [==============================] - 0s 1ms/step - loss: 0.2065 - accuracy: 0.9914
Epoch 26/100
24/24 [==============================] - 0s 1ms/step - loss: 0.1965 - accuracy: 0.9914
Epoch 27/100
24/24 [==============================] - 0s 992us/step - loss: 0.1853 - accuracy: 0.9914
Epoch 28/100
24/24 [==============================] - 0s 913us/step - loss: 0.1743 - accuracy: 0.9957
Epoch 29/100
24/24 [==============================] - 0s 994us/step - loss: 0.1658 - accuracy: 0.9957
Epoch 30/100
24/24 [==============================] - 0s 874us/step - loss: 0.1565 - accuracy: 0.9957
Epoch 31/100
24/24 [==============================] - 0s 964us/step - loss: 0.1488 - accuracy: 0.9957
Epoch 32/100
24/24 [==============================] - 0s 775us/step - loss: 0.1415 - accuracy: 0.9957
Epoch 33/100
24/24 [==============================] - 0s 926us/step - loss: 0.1350 - accuracy: 0.9957
Epoch 34/100
24/24 [==============================] - 0s 898us/step - loss: 0.1288 - accuracy: 0.9957
Epoch 35/100
24/24 [==============================] - 0s 923us/step - loss: 0.1220 - accuracy: 0.9957
Epoch 36/100
24/24 [==============================] - 0s 850us/step - loss: 0.1152 - accuracy: 0.9957
Epoch 37/100
24/24 [==============================] - 0s 921us/step - loss: 0.1099 - accuracy: 0.9957
Epoch 38/100
24/24 [==============================] - 0s 974us/step - loss: 0.1050 - accuracy: 0.9957
Epoch 39/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0998 - accuracy: 0.9957
Epoch 40/100
24/24 [==============================] - 0s 915us/step - loss: 0.0963 - accuracy: 0.9957
Epoch 41/100
24/24 [==============================] - 0s 932us/step - loss: 0.0917 - accuracy: 0.9957
Epoch 42/100
24/24 [==============================] - 0s 920us/step - loss: 0.0874 - accuracy: 0.9957
Epoch 43/100
24/24 [==============================] - 0s 978us/step - loss: 0.0836 - accuracy: 0.9957
Epoch 44/100
24/24 [==============================] - 0s 994us/step - loss: 0.0802 - accuracy: 0.9957
Epoch 45/100
24/24 [==============================] - 0s 954us/step - loss: 0.0763 - accuracy: 0.9957
Epoch 46/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0738 - accuracy: 0.9957
Epoch 47/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0706 - accuracy: 0.9957
Epoch 48/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0684 - accuracy: 0.9957
Epoch 49/100
24/24 [==============================] - 0s 989us/step - loss: 0.0662 - accuracy: 0.9957
Epoch 50/100
24/24 [==============================] - 0s 997us/step - loss: 0.0628 - accuracy: 0.9957
Epoch 51/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0607 - accuracy: 0.9957
Epoch 52/100
24/24 [==============================] - 0s 877us/step - loss: 0.0586 - accuracy: 0.9957
Epoch 53/100
24/24 [==============================] - 0s 887us/step - loss: 0.0571 - accuracy: 0.9957
Epoch 54/100
24/24 [==============================] - 0s 991us/step - loss: 0.0544 - accuracy: 0.9957
Epoch 55/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0532 - accuracy: 0.9957
Epoch 56/100
24/24 [==============================] - 0s 947us/step - loss: 0.0509 - accuracy: 0.9957
Epoch 57/100
24/24 [==============================] - 0s 881us/step - loss: 0.0496 - accuracy: 0.9957
Epoch 58/100
24/24 [==============================] - 0s 954us/step - loss: 0.0479 - accuracy: 0.9957
Epoch 59/100
24/24 [==============================] - 0s 918us/step - loss: 0.0464 - accuracy: 0.9957
Epoch 60/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0447 - accuracy: 0.9957
Epoch 61/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0437 - accuracy: 0.9957
Epoch 62/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0418 - accuracy: 0.9957
Epoch 63/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0409 - accuracy: 0.9957
Epoch 64/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0401 - accuracy: 0.9957
Epoch 65/100
24/24 [==============================] - 0s 949us/step - loss: 0.0388 - accuracy: 0.9957
Epoch 66/100
24/24 [==============================] - 0s 963us/step - loss: 0.0374 - accuracy: 0.9957
Epoch 67/100
24/24 [==============================] - 0s 950us/step - loss: 0.0363 - accuracy: 0.9957
Epoch 68/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0354 - accuracy: 0.9957
Epoch 69/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0352 - accuracy: 0.9957
Epoch 70/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0338 - accuracy: 0.9957
Epoch 71/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0321 - accuracy: 0.9957
Epoch 72/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0307 - accuracy: 0.9957
Epoch 73/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0295 - accuracy: 0.9957
Epoch 74/100
24/24 [==============================] - 0s 985us/step - loss: 0.0284 - accuracy: 0.9957
Epoch 75/100
24/24 [==============================] - 0s 939us/step - loss: 0.0291 - accuracy: 1.0000
Epoch 76/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0262 - accuracy: 1.0000
Epoch 77/100
24/24 [==============================] - 0s 908us/step - loss: 0.0251 - accuracy: 1.0000
Epoch 78/100
24/24 [==============================] - 0s 918us/step - loss: 0.0245 - accuracy: 1.0000
Epoch 79/100
24/24 [==============================] - 0s 971us/step - loss: 0.0229 - accuracy: 1.0000
Epoch 80/100
24/24 [==============================] - 0s 972us/step - loss: 0.0226 - accuracy: 1.0000
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 0.0214 - accuracy: 1.0000
Epoch 82/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0208 - accuracy: 1.0000
Epoch 83/100
24/24 [==============================] - 0s 968us/step - loss: 0.0207 - accuracy: 1.0000
Epoch 84/100
24/24 [==============================] - 0s 964us/step - loss: 0.0198 - accuracy: 1.0000
Epoch 85/100
24/24 [==============================] - 0s 886us/step - loss: 0.0188 - accuracy: 1.0000
Epoch 86/100
24/24 [==============================] - 0s 899us/step - loss: 0.0184 - accuracy: 1.0000
Epoch 87/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0178 - accuracy: 1.0000
Epoch 88/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0172 - accuracy: 1.0000
Epoch 89/100
24/24 [==============================] - 0s 954us/step - loss: 0.0166 - accuracy: 1.0000
Epoch 90/100
24/24 [==============================] - 0s 997us/step - loss: 0.0161 - accuracy: 1.0000
Epoch 91/100
24/24 [==============================] - 0s 879us/step - loss: 0.0158 - accuracy: 1.0000
Epoch 92/100
24/24 [==============================] - 0s 832us/step - loss: 0.0153 - accuracy: 1.0000
Epoch 93/100
24/24 [==============================] - 0s 885us/step - loss: 0.0148 - accuracy: 1.0000
Epoch 94/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0146 - accuracy: 1.0000
Epoch 95/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0142 - accuracy: 1.0000
Epoch 96/100
24/24 [==============================] - 0s 1ms/step - loss: 0.0139 - accuracy: 1.0000
Epoch 97/100
24/24 [==============================] - 0s 923us/step - loss: 0.0134 - accuracy: 1.0000
Epoch 98/100
24/24 [==============================] - 0s 904us/step - loss: 0.0129 - accuracy: 1.0000
Epoch 99/100
24/24 [==============================] - 0s 806us/step - loss: 0.0129 - accuracy: 1.0000
Epoch 100/100
24/24 [==============================] - 0s 828us/step - loss: 0.0126 - accuracy: 1.0000

# The model was surprisingly accuracy on the training data reaching 100%, but we'll need to see if the model can generalize to new information, and that the model is not overfit. We'll generate a classification report to see the what the true accuracy is on the test data...

In [118]:
predictions = model.predict_classes(X_test)

In [119]:
predictions

array([1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0])

In [124]:
print('Prediction Results for Neural Network: ')
print()
print(accuracy_score(Y_test['YES'],predictions),'% Accuracy')
print()
print(classification_report(Y_test['YES'], predictions))

Prediction Results for Neural Network:

0.9322033898305084 % Accuracy

              precision    recall  f1-score   support

           0       0.88      1.00      0.94        29
           1       1.00      0.87      0.93        30

    accuracy                           0.93        59
   macro avg       0.94      0.93      0.93        59
weighted avg       0.94      0.93      0.93        59

# Surprisingly accurate at 93%.

# Strong F1-Scores greater than 90%. This neural network can thus be considered usable for autism screening.

# Very reliable in predicting autism, very low false positives (precision) and very low false negatives (recall)

# To improve this model, we could add dropout to the ANN that would help break up any colinearity between our features.